#titleBar {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrZ4juhoAat_0gu2XTdwZwsz0_ROwOyiYXHg&usqp=CAU);
  text-align: center;
}
.bg-image{
  background-size: cover;
  background-image: url('../img/dogeback.jpg');
}
.card-title{
  text-align: center;
}